/*============**  Case Study **============*/
.case-study {
    position: relative;
    overflow: hidden;
    &:hover{
        & .case-study__text {
            left: 50%;
            opacity: 1;
            visibility: visible;
         }
         & .case-study__thumb {
            & img {
                transform: scale(1.1);
                -webkit-filter: grayscale(0);
                @media #{$xsm-device} {
                    width: 100%;
                }
            }
            &::after{
                opacity: .6;
                visibility: visible;
                left: 0;
            }
         }
    }
    &__thumb {
        transform: scale(1);
        transition: all .3s ease-in-out;
        & img {
            width: 100%;
            -webkit-filter: grayscale(100%);;
        }
    }
    &__text{
        text-align: center;
        position: absolute;
        left: 0%;
        transform: translateX(-50%);
        width: 100%;
        bottom: 10%;   
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        background: $white_color;
        padding: 30px 0;
        width: 330px;
        @media #{$xsm-device} {
            width: 95%;
        }
        @media #{$sm-device} {
            width: 300px;
        }
        & span {
            display: inline-block;
            color: $primary-color;
            font-size: 16px;
            margin-bottom: 10px;
        }
        & a {
            & i {
                height: 35px;
                width: 35px;
                background-color: $primary-bg;
                text-align: center;
                line-height: 35px;
                font-size: 14px;
                color: $white_color;
                display: block;
                margin: 0 auto;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: $black;
                }
            }

        }
    }
    &__text-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 5px;
        color: $black;
        @media #{$xsm-device} {
            font-size: 20px;
        }
        @media #{$sm-device} {
            font-size: 24px;
        }
        &:hover {
            & a {
                color: $primary-color;
            }
        }
    }
}

/*==== Case study details ====*/

.case-study-single {
    &__img {
        & img{
            width: 100%;
        }
    }
    &__title {
        font-size: 28px;
        text-align: center;
        padding-bottom: 30px;
        border-bottom: 1px solid $bolog-border-color;
        margin-bottom: 30px;
    }
    &__content {
        box-shadow: 0px 0px 10px 0px $bolog-content-shado;
        padding: 35px 30px 35px 40px;

        @media #{$xsm-device} {
            padding: 35px 15px 35px 15px;
            box-shadow: 0px 0px 10px 0px $bolog-content-shado;
        }
        @media #{$sm-device} {
            padding: 35px 30px 35px 40px;
            box-shadow: none;
        }
        & .case-text  {
            & h4 {
                font-weight: 600;
                margin-bottom: 15px;
                text-transform: capitalize;
            }
        }
        & .case-review {
            &__comments {
                text-align: center;
                background: $bolog-comments-bg;
                padding: 25px 15px;
                & .client-img {
                    margin-bottom: 20px;
                }
                & .text {
                    & p {
                        font-size: 17px;
                        text-transform: capitalize;
                        font-style: italic;
                    }
                }
                & .client-review {
                    & ul {
                        & li {
                            display: inline;
                            & a{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}
